@use "../abstracts/mixins" as *;

.page-news-list {
  .section {
    padding: 10rem 0 0;
  }
  .section-title {
    color: #000;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    @include mq-down(md){
      grid-template-columns: 1fr;
      gap: 4rem;
    }
  }
}
