@use "../abstracts/mixins" as *;

.page-services {
  .section {
    padding: 10rem 0 5rem;
  }
  .section-title {
    color: var(--dark-color);
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    @include mq-down(md) {
      grid-template-columns: 1fr;
    }
  }
  .container{
    @media screen and (min-width: 1536px) {
      max-width: 1200px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 1200px;
    }
  }
}
